.root {
	display: block;
}

.root h1 {
	text-align: center;
}

.root .buttons {
	display: flex;
	margin: 10px auto;
	justify-content: center;
}

.root .buttons button {
	margin: 10px;
	color: white;
	background-color: purple;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	padding: 10px;
}